* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --light-font-color: #222;
  --light-bg-color: #eee;
  --light-fg-color: #fff;

  --dark-font-color: #eee;
  --dark-bg-color: #181818;
  --dark-fg-color: #23242d;

  --font-color: var(--light-font-color);
  --background: var(--light-bg-color);
  --foreground: var(--light-fg-color);
}
.dark-mode {
  --font-color: var(--dark-font-color);
  --background: var(--dark-bg-color);
  --foreground: var(--dark-fg-color);
}
html,
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  height: 100vh;
  background-color: var(--background);
}
ul,
li,
ol {
  list-style-type: none;
  padding: 0;
}
a {
  text-decoration: none;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 70px;
}
.navlogo a {
  font-size: 36px;
  font-weight: 700;
  line-height: 60px;
  color: var(--font-color);
  margin-top: 10px;
}
.navlogo a:hover {
  opacity: 0.7;
  transition: 0.3s;
}
.navlist {
  display: flex;
  align-items: center;
}
.toggler-wrap {
  margin-left: 15px;
}
.navlist ul li {
  display: inline-block;
  margin: 5px;
}
.navlist ul li a {
  display: block;
  font-size: 22px;
  color: var(--font-color);
  font-weight: 700;
  line-height: 60px;
}
.navlist ul li a:hover {
  opacity: 0.7;
  transition: 0.3s;
}
.checkbox {
  display: none;
}
.label {
  background-color: var(--foreground);
  width: 50px;
  height: 24px;
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1.3);
}
.ball {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 2px;
  left: 2px;
  border-radius: 10px;
  background-color: var(--font-color);
  transform: translateX(0px);
  transition: transform 0.2s linear;
}
.checkbox:checked + .label .ball {
  transform: translateX(24px);
}
i {
  color: var(--font-color);
}
.content-mid {
  position: relative;
}
.me-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.me-img img {
  width: 200px;
  height: 200px;
  margin-top: 100px;
}
#text {
  font-size: 48px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: var(--font-color);
  font-weight: 500;
  text-transform: uppercase;
}
.text-cover p {
  text-align: center;
  font-size: 18px;
  color: var(--font-color);
  margin-bottom: 15px;
}

.text-cover p .ada {
  font-weight: 700;
  color: var(--font-color);
}
.social-list {
  text-align: center;
}
.social-list ul li {
  display: inline-block;
}
hr {
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 1px;
  background-color: var(--font-color);
}
.social-list ul li a {
  display: block;
  font-size: 22px;
  color: var(--font-color);
  font-weight: 700;
  line-height: 60px;
  padding: 20px;
  text-align: center;
  font-size: 30px;
}
.social-list ul li a:hover {
  opacity: 0.7;
  transition: 0.3s;
}
.tr img,
.en img {
  width: 15px;
  height: 15px;
}
.lang-toggler-wrap {
  margin-left: 50px;
  margin-top: 100px;
}
/* about page */
.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-img,
.about-text {
  margin-top: 150px;
}
.about-img img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow: 0 5px 83px rgba(0, 0, 0, 0.05);
}
.about-text p {
  font-size: 18px;
  color: var(--font-color);
  width: 500px;
  padding-left: 50px;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
}
.about-text p a u {
  text-decoration: none;
  color: var(--font-color);
}
